<div class="wrapper-white">
	<div class="container home">
		<div class="row">
			<div class="span5"><span class="logo">MyRun<span>App</span> <small>beta</small></span></div>
			<div class="span7">
				<div class="social-buttons">					
					<g:plusone size="medium"></g:plusone>					
					<a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>										
					<iframe class="fb-like" src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.myrunapp.com&amp;send=false&amp;layout=button_count&amp;width=450&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font=tahoma&amp;height=21&amp;appId=269203533174795" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:21px;" allowTransparency="true"></iframe>
				</div>
			</div>
	   </div>	
	   <div class="row">
          <div class="span6">
			<div class="image-home"><%= image_tag("run_ready.jpg", :alt=> t(:home_title)) %></div>
		  </div>
          <div class="span6">
            <h1><%= t(:home_h1) %></h1>
            <p><%= t(:home_headline) %></p>
            <%= link_to t(:sign_in_with_provider), "/auth/facebook", :class => "btn btn-primary btn-large", :rel => "nofollow" %>
          </div>      
        </div>
        <div class="row">
	      <div class="span12">
			<div class="disclamer">
		    	<%= disclamer_text(t(:disclamer)) %>
			</div>
		  </div>
	    </div>
	</div>
</div>

<% content_for :javascript_footer do %>

<script type="text/javascript">
	(function() {
	  var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
	  po.src = 'https://apis.google.com/js/plusone.js';
	  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
	  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
	})();
</script>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-31819837-1']);
  _gaq.push(['_setDomainName', 'myrunapp.com']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

<% end %>



